<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Readshot</string>
	<key>CFBundleExecutable</key>
	<string>readshot</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>np.com.pawanpaudel.readshot</string>
	<key>CFBundleName</key>
	<string>Readshot</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>np.com.pawanpaudel.readshot.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>readshot</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.6.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Readshot needs Screen Recording access so it can capture the region you select.</string>
	<key>SUFeedURL</key>
	<string>https://pawanpaudel93.github.io/readshot/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>Bb2IJN5Xw23vKsCVnSvOrwim/DM2daj/4GjGVTcodjY=</string>
</dict>
</plist>
